body{
  text-align: center;
  background-color: #6dc2ca;
}

.container{
  display: inline-block;
  max-width: 720px;
}

.header{
  font-family: "Joystix", serif;
  display: inline-block;
  margin-bottom: 1px;
  text-align: center;
}
.title{
  margin: 0;
}
.categories{
  text-align: left;
  display: center;
  margin-top:1px;
  margin-bottom: 30px;
  list-style-type: none;
  padding:1px;
}
.operators{
  text-align: left;
  display: block;
  margin-top:1px;
  margin-bottom: 1px;
  list-style-type: none;
  padding:3px;
}
.operator{
  margin: 2px;
  margin-bottom: 4px;
}
.opnamediv{
  background-color: #8595a1;
  border-radius: 2px 2px 0 0;
}
.opdescdiv{
  background-color: #deeed6;
  border-radius: 0 0 2px 2px;
}
.opdiv{
  padding: 10px;
}
@font-face {
  font-family: "Kongtext";
  src: url(kongtext.ttf)
}
@font-face {
  font-family: "Joystix";
  src: url(joystix.ttf)
}
.opname{
  font-weight: bold;
  font-family: "Joystix", sans-serif;
}
.opheader{
  text-align: center;
  margin-bottom: 5px;
}
.category{
  background-color: #30346D;
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 3px;
}
.opheaderspan{
  font-family: "Joystix", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #deeed6;
}
.tabset{
  position: fixed;
  bottom: 0px;
  margin:0;
  left: 0;
  right:0;
  text-align: center;
}
.tabs{
  list-style-type: none;
  padding: 0px;
  margin:0px;
  display: inline-block;
}
.tab{
  display: inline-block;
  padding:5px;
  border-radius: 2px 2px 0 0;
  background-color: #30346D;
}
a{
  color: black;
  text-decoration: none;
}

.tabcontents{
  color: #deeed6;
  font-family: 'Joystix', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
